body {
    background-color: #ce96a6;
    font-family: 'Source Sans Pro';
}

header {
    color: #272635;
    text-align: center;
    font-size: 2rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

h3 {
    margin: 10px 0;
}

.addTask {
    display:flex;
    position: relative;
}

.addTask:hover, .removeCategory:hover {
    cursor: pointer;
}

.addTask p {
    margin: 0;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fa {
    align-self: center;
    display: none;
}

.category {
    display: inline-flex;
    padding: 10px;
    background-color: #ffede1;
    width: 125px;
    height: 300px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    overflow-y: scroll;
}

#addCategory {
    justify-content: center;
    text-align: center;
} 

#addCategory i {
    font-size: 2rem;
}

#addCategory:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.overlay{
    display: none;
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(19, 18, 16, 0.61);
}

.popup{
    position: relative;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    display: none;
    padding: 5px;   
    
}

.addDesc{
    position: absolute;
    right: 0;
    top: 0;

}