@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('../assets/fonts/SourceSansPro-Bold.ttf');
}

body {
    background-color: #875081;
    font-family: 'Source Sans Pro';
}

header {
    color: #ded9e2;
    text-align: center;
    font-size: 2rem;
}

footer {
    color: #ded9e2;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: inline-flex;
    flex-direction: row;
}
footer label {
    margin: 0 5px 0 5px;
}

#board {
    display: flex;
    flex-wrap: wrap;

}

a {
    color: inherit;
    text-decoration: inherit;
}

h3 {
    margin: 10px 0;
    width: 120px;
}

h3[contenteditable='true'] {
    cursor: pointer;
    font-family: 'Source Sans Pro Bold';
}

.addTask {
    display:flex;
    position: relative;
}

.addTask:hover, .removeCategory:hover {
    cursor: pointer;
}

.addTask p {
    margin: 0;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fa {
    align-self: center;
}

.category {
    display: inline-flex;
    padding: 10px;
    background-color: #ded9e2;
    width: 130px;
    height: 300px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    overflow-y: scroll;
}

#addCategory {
    justify-content: center;
    text-align: center;
} 

#addCategory i {
    font-size: 2rem;
}

#addCategory:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}
  
.fadeIn {
  animation-duration: 1s;
  animation-name: fadeIn;
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
}
.fadeOut {
    animation-duration: 1s;
    animation-name: fadeOut;
  }

  .popup{
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    padding: 5px;   
}

.popup:hover{
    cursor: default;
}

.overlay{
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(19, 18, 16, 0.61);
}

span {
    position: relative;
    right: 10px;
    top: 5px;
    float: right;
    font-size: 1.4rem;
}
span:hover {
    cursor: pointer;
}

textarea {
    display: block;
    margin: 10px;
}
.close-popup{
    position: absolute;
    right: 0;
    top: 0;
}

.task {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 5px;
    margin: 4px;
}

.close-popup:hover, div .task:hover{
    cursor: pointer;
}
